@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  color: black;
}

.bg-image {
  min-height: 100vh;
  position: relative;
  margin-top: 20px;
  background-image: url('../public/computer_space.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
  height: 100%;
  filter: blur(2px);
  border-radius: 50px;

}
.Group1 {
  display: flex;
}
.leftSideTop {
  background-image: url('../public/code_image.jpg');
  width: 50%;
  /*position: relative;*/
  float: left;
  /*background-repeat: no-repeat;
  background-size: cover;*/
}
.rightSideTop {
  background-image: url('../public/computer_space.jpg');
  width: 50%;
  position: relative;
  float: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.leftSide {
  width: 50%;
  position: relative;
}
.leftSide {
  width: 50%;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bgImage {
  background-image: url('../public/city_view.jpg');
  background-position-x: 80%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Spacing class */
.spacer {
  height: 100px;
}
.spacer2 {
  height: 50px;
}

/* Footer settings */ 
.footer {
  min-height: calc(100% - 405px);
  width: 100%;

  color: darkslategrey;
  /*background-color: #2d3436;*/
  text-align: center;
  margin-bottom: 0;
  padding-bottom: -200px;
  position: sticky;

}

.sub-footer {
  top: 10px;
  text-align: center;
  bottom:auto;
}

.link-it {
  text-decoration: none;
  color: whitesmoke;
}
.navbar {
  position: absolute;
}
/* Navigation settings */
.nav-color {
  /*background-color: white;*/
  color: black;
}

.nav-color div a {
  color: black;
}

.nav-color div a:hover {
  color: #e74c3c;
}

.nav-color div a::after {
  color: black;
}

/* logo */
.case-tec {
  padding-left: 5px;
}
.my-color {
color: #e74c3c;

}

/* Main introduction */
.intro {
  font-size: 75px;
  font-weight: bolder;
  top: 30%;
  left: 20%;
  right: 20%;
  text-align: center;
  color: rgb(46, 45, 45);
  min-height: 65vh;
  position: absolute;
}

.main-button {

}

/* About page */
.about {
  text-align: center;
}
.about-case {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Contact page */
.contact-form {
  max-width: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  
}
.form-field {
  border-radius: 5px;
  width: 100%;
  display: inline-block;
}

/* service page */
.card-group {
  padding-top: 7%;
  padding-bottom: 3%;
  text-align: center;
}
.service-header {
  padding-top: 5%;
  text-align: center;
}